.hero {
  position: relative;
  background-color: var(--ebb);
  padding: 200px 0px 115px 0px;
  z-index: 1;
  @include desktop {
    padding: 90px 0px;
  }
  @include laptop {
    padding: 60px 0px;
  }
  &__title {
    margin-top: 20px;
    max-width: 420px;
    @include laptop {
      max-width: none;
    }
  }
  &__descr {
    margin: 20px 0px 0px 0px;
    max-width: 510px;
    font-size: 16px;
    line-height: 150%;
    color: var(--merlin);
    @include desktop {
      max-width: 420px;
    }
    @include laptop {
      max-width: none;
    }
  }
  &__btn {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    border-radius: 14px;
    transition:
      color 0.2s ease,
      background-color 0.2s ease;
    @include hover {
      color: white;
      background-color: var(--black);
    }
  }
  &__img {
    position: absolute;
    object-fit: cover;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    @include laptop {
      position: static;
      display: block;
      width: 100%;
      height: auto;
      margin-top: 20px;
    }
  }
}
