<section class="our-team">
  <div class="container our-team__container">
    <div class="our-team__info">
      <h2 class="title title-2">Meet our team</h2>
      <p class="our-team__descr">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
        elementum tristique. Duis cursus, mi quis.
      </p>
      <a href="#" class="btn btn-transparent our-team__btn">See team</a>
    </div>
    <div class="our-team__profiles">
      <ul class="list our-team__profiles-list">
        <li class="our-team__profile">
          <img src="@img/avatar.png" alt="Avatar" class="our-team__profile-img" />
          <div class="our-team__profile-info">
            <h5 class="title our-team__profile-name">Stephen Collier</h5>
            <p class="our-team__profile-post">Senior Parther</p>
          </div>
        </li>
        <li class="our-team__profile">
          <img src="@img/avatar.png" alt="Avatar" class="our-team__profile-img" />
          <div class="our-team__profile-info">
            <h5 class="title our-team__profile-name">Stephen Collier</h5>
            <p class="our-team__profile-post">Senior Parther</p>
          </div>
        </li>
        <li class="our-team__profile">
          <img src="@img/avatar.png" alt="Avatar" class="our-team__profile-img" />
          <div class="our-team__profile-info">
            <h5 class="title our-team__profile-name">Stephen Collier</h5>
            <p class="our-team__profile-post">Senior Parther</p>
          </div>
        </li>
        <li class="our-team__profile">
          <img src="@img/avatar.png" alt="Avatar" class="our-team__profile-img" />
          <div class="our-team__profile-info">
            <h5 class="title our-team__profile-name">Stephen Collier</h5>
            <p class="our-team__profile-post">Senior Parther</p>
          </div>
        </li>
        <li class="our-team__profile">
          <img src="@img/avatar.png" alt="Avatar" class="our-team__profile-img" />
          <div class="our-team__profile-info">
            <h5 class="title our-team__profile-name">Stephen Collier</h5>
            <p class="our-team__profile-post">Senior Parther</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
