<section class="projects">
  <div class="container">
    <h2 class="title title-2">Featured projects</h2>
    <p class="projects__descr">
      Some of the latest and greatest projects from us here at Wishbone+Partners.
    </p>
    <div class="swiper projects__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide projects__slider-item">
          <img src="@img/windows.jpg" alt="" class="projects__slider-item-bg" />
          <h5 class="title subtitle projects__slider-item-city">New York</h5>
          <h3 class="title projects__slider-item-name">Big Road Brewery</h3>
          <a href="#" class="projects__slider-item-btn btn btn-black">Read more</a>
        </div>
        <div class="swiper-slide projects__slider-item">
          <img src="@img/windows.jpg" alt="" class="projects__slider-item-bg" />
          <h5 class="title subtitle projects__slider-item-city">New York</h5>
          <h3 class="title projects__slider-item-name">Big Road Brewery</h3>
          <a href="#" class="projects__slider-item-btn btn btn-black">Read more</a>
        </div>
        <div class="swiper-slide projects__slider-item">
          <img src="@img/windows.jpg" alt="" class="projects__slider-item-bg" />
          <h5 class="title subtitle projects__slider-item-city">New York</h5>
          <h3 class="title projects__slider-item-name">Big Road Brewery</h3>
          <a href="#" class="projects__slider-item-btn btn btn-black">Read more</a>
        </div>
        <div class="swiper-slide projects__slider-item">
          <img src="@img/windows.jpg" alt="" class="projects__slider-item-bg" />
          <h5 class="title subtitle projects__slider-item-city">New York</h5>
          <h3 class="title projects__slider-item-name">Big Road Brewery</h3>
          <a href="#" class="projects__slider-item-btn btn btn-black">Read more</a>
        </div>
      </div>
    </div>
    <a href="#" class="projects__btn btn btn-transparent">View all projects</a>
  </div>
</section>
